[Unit]
Description=Set up and update system
Wants=network-online.target
After=network-online.target
FailureAction=reboot
SuccessAction=reboot

[Service]
ExecStart=/usr/local/clayton-liunx-config/setup-and-update.sh
